.icons.left{
  width: 50%;
  height: 100%;
  position: absolute;
    .fa-circle,
    .fa-square-full,
    .fa-play{
        position: absolute;
        font-size: 50px;
        color: rgba(255,255,255,0.5);
    }
    .circle1{
        animation: floatUp 20s  2s ease-in infinite;
        top: -50px;
        left: 80px;
    }
    .square1{
        animation: floatUp 15s 1.5s ease-in infinite, slowRotate 30s infinite linear;
        top: -100px;
        left: 50px;
    }
    .triangle1{
        animation: floatUp 10s ease-in infinite, slowRotate 30s infinite linear;
        left: 30px; 
    }
    .circle2{
        animation: floatUp 10s  2.4s ease-in infinite;
        top: -50px;
        left: 150px;
    }
    .square2{
        animation: floatUp 15s 2.3s ease-in infinite, slowRotate 30s infinite linear;
        top: -120px;
        left: 60px;
    }
    .triangle2{
        animation: floatUp 20s 2.8s ease-in infinite, slowRotate 30s infinite linear;
        left: 50px; 
    }
    @media (max-width: 768px) {
        display: none;
    }
}
.icons.right{
    right: 0;
    .fa-circle,
    .fa-square-full,
    .fa-play{
        position: absolute;
        font-size: 50px;
        color: rgba(255,255,255,0.5);
    }
    .circle1{
        animation: floatUp 20s  2s ease-in infinite;
        top: -50px;
        right: 200px;
    }
    .square1{
        animation: floatUp 10s 1.5s ease-in infinite, slowRotate 30s infinite linear;
        top: 10px;
        right: 80px;
    }
    .triangle1{
        animation: floatUp 15s ease-in infinite, slowRotate 30s infinite linear;
        right: 30px; 
    }
    .circle2{
        animation: floatUp 15s  2.5s ease-in infinite;
        top: -70px;
        right: 100px;
    }
    .square2{
        animation: floatUp 10s 2s ease-in infinite, slowRotate 30s infinite linear;
        top: -120px;
        right: 50px;
    }
    .triangle2{
        animation: floatUp 20s 2.8s ease-in infinite, slowRotate 30s infinite linear;
        right: 30px; 
    }
}