$primary: slateblue;
$accent: rgb(226, 78, 103);
$accent-transparent: rgba(226, 78, 103,0.6);
$secondary-accent: skyblue;
$bg-accent: rgb(11, 11, 44);
$bg-transparent: rgba(44, 44, 83, 0.87);
$font-accent: golderod;

$main-text: 'Montserrat', sans-serif;