$primary: rgb(94, 45, 151);
$accent: rgb(91, 89, 241);
$tertiary-accent: rgb(52, 250, 151);
$secondary-accent: rgb(255, 0, 43);
$bg-accent: rgb(53, 8, 104);
$bg-transparent: rgba(53, 8, 104, 0.87);
$font-accent: golderod;

$sans-serif-font: 'Lato', sans-serif;
$serif-font: 'Gentium Basic', serif; 
